
// X-SMALL DISPLAY (base)

footer {
  align-items: center;
  background-color: black;
  display: flex;
  height: 250px;
  justify-content: space-between;
  margin: 0% !important;
  width: 100% !important;

  // GENERAL
  section.F-SECTION {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    a {
      margin-bottom: 10px;
      margin-top: 10px;
    }
    p {
      color: white;
    }
    img {
      width: 60px;
      height: 60px;
    }

    // Footer SECTION 1
    // &#F-SECTION-1 {
    // }

    // Footer SECTION 2
    &#F-SECTION-2 {
      article#logos{
        display: flex;
        justify-content: space-evenly;
        a i{
          font-size: 2em;
          margin: 0px 5px 0px 5px;
        }
      } 
    }

    // Footer SECTION 3
    &#F-SECTION-3 {
      display: none;
    }
  }
}

// SMALL DISPLAY 
@media (min-width: 576px){
  footer{
    section.F-SECTION{
      width: 33.3%;

      &#F-SECTION-3 {
        display: flex; 
      }
    }
  } 
}

// MEDIUM DISPLAY 
@media (min-width: 768px){
  footer{
    section.F-SECTION{
      max-width: 300px;
    }
  }
}