
footer{
    width: 100% !important;
    background-color: black;
    height: 200px;
    margin: 0% !important;
    section{
        padding: 2%;
        a{
            margin-bottom: 10px;
        }
        p{
            color: white;
        }
        img{
            width: 60px;
            height: 60px;
        }
    }
}
