
header{
    width: 100vw !important;
    margin: 0% !important;
    #H-SECTION-1{
        img{
            position: fixed;
            width: 180px;
            height: 180px;
            margin-left: 5%;
            margin-top: 2%;
            z-index: 100 !important;
        }
    }
    #H-SECTION-2{
        display: flex;
        align-items: center;
        justify-content: center;
        height:  130px;
    }
}