@import "./Media";
@import "./Form";
@import "./Movies";

//------------ X-SMALL DISPLAY (base) ------------//

body div#App main{
    // MAIN global rules
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw !important;
    margin: 0% !important;

    // HOME MAIN
    section#M-SECTION-1{
        h2{
            color: aliceblue;
            font-size: 3rem;
            text-align: center;
            text-shadow: 5px 2px 5px rgba(0, 30, 255, 0.767);
            padding: 35px 35px 35px 35px;
        }
    }
    section#M-SECTION-2{
        display: flex;
        align-items: center;
        justify-content: center;
        video{
            background-size: contain;
            border-radius: 5px;
            box-shadow: 7px 5px 30px rgba(0, 17, 142, 0.724);
            min-width: 1px !important;
            max-width: 800px;
            height: auto;
            padding: 0%;
        }
    }
    section#M-SECTION-3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0% !important;
        max-width: 1000px;
    }

    // LOGIN MAIN
    section#LM-SECTION-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% !important;
    }

    // MOVIE FINDER MAIN
    section#MF-SECTION-1, section#MF-SECTION-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

//------------ (up to 1200px) EXTRA LARGE DISPLAY ------------//

@media (min-width: 1200px){
    // HOME MAIN
    body div#App main#HOME{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;

        grid-template-areas: 
            "sec1 sec1 sec1 sec1 sec3 sec3"
            "sec2 sec2 sec2 sec2 sec3 sec3"
            "sec2 sec2 sec2 sec2 sec3 sec3"
            "sec2 sec2 sec2 sec2 sec3 sec3";

        section#M-SECTION-1{
            margin: 0% !important;
            align-items: end;

            grid-area: sec1;
            height: 100%;

            h2{
                font-size: 40px;
            }
        }
        section#M-SECTION-2{
            margin: 0% !important;
            padding: 0% !important;

            align-self: start;
            grid-area: sec2;
        }
        section#M-SECTION-3{
            justify-content: flex-start;
            padding: 5% !important;
            padding-right: 5% !important;
            height: 70%;

            grid-area: sec3;
            align-self: center;
            justify-self: center;

            @media (min-width: 1486px){
                margin-right: 20% !important;
            }
        }
    }

    // LOGIN MAIN
    body div#App main section#LM-SECTION-1{
        flex-direction: row !important;
        justify-content: space-evenly;
    }
}
