@import "./Media";
@import "./Form";
@import "./Accordion";

body div#App main{
    // MAIN global rules
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw !important;
    margin: 0% !important;

    // HOME MAIN
    section#M-SECTION-1{
        h2{
            color: aliceblue;
            font-size: 3rem;
            text-align: center;
            text-shadow: 5px 2px 5px rgba(0, 30, 255, 0.767);
            padding: 35px 35px 35px 35px;
        }
    }
    section#M-SECTION-2{
        display: flex;
        align-items: center;
        justify-content: center;
        video{
            background-size: contain;
            border-radius: 5px;
            box-shadow: 7px 5px 30px rgba(0, 17, 142, 0.724);
            min-width: 1px;
            max-width: 850px;
            height: auto;
            padding: 0%;
        }
    }
    section#M-SECTION-3{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0% !important;
    }

    // LOGIN MAIN
    section#LM-SECTION-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5% !important;
    }

    // MOVIE FINDER MAIN
    section#MF-SECTION-1, section#MF-SECTION-2{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}