@import "./Media";
@import "./Form";

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw !important;
    margin: 0% !important;
    section#M-SECTION-1{
        h2{
            color: aliceblue;
            font-size: 3rem;
            text-align: center;
            text-shadow: 5px 2px 5px rgba(0, 30, 255, 0.767);
            padding: 26% 10% 10% 10%;
        }
    }
    section#M-SECTION-2{
        img{
            background-size: contain;
            margin: 5%;
            border-radius: 5%;
            box-shadow: 7px 5px 20px rgba(0, 17, 142, 0.724);
            min-width: 1px;
            max-width: 850px;
            height: auto;
        }
    }
    section#M-SECTION-3{
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0% !important;
    }
//     section#M-SECTION-4{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//     }
}